body {

}

.header, .hero, .body, .footer {
	background-color: #FDAFC9;
	margin-bottom: 20px;
}

.box {
	background-color: #9BD8EA;
	border: 2px solid green;
	height: 60px;
	margin: 50px 0;
	text-align: center;
	font-size: 30px;
}

.box_red {
	background-color: red;
	border: 2px solid green;
	height: 60px;
	margin: 50px 0;
	text-align: center;
	font-size: 30px;
}
